.wrap{
    background-image: url("/public/image/Asset 27.svg");
    min-height: 100%;
    /* background-position: top left; */
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: white;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}
body {
   
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
  }
  * {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    box-sizing: border-box;
  }
  
  .accordion {
    margin: 10px auto;
    position: relative;
    border-radius: .88rem;
    background: linear-gradient(285.64deg, #5e46bb 17.39%, #865095 111.44%);
    width: 800px;
    
  }
  
  .accordion.active .accordion__icon {
    transform: rotate(45deg)
  }
  
  
  .accordion__header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 2.4rem;
     width: 19rem; 
    padding: .31rem 1.25rem .44rem .56rem;
    cursor: pointer;
    /* background: #fff; */
    border-radius: .88rem;
    z-index: 10
  }
  
  .accordion__icon {
    margin-right: .63rem;
    width: 1.5rem;
    height: 1.5rem;
    transition: all .5s ease
  }
  
  .accordion__title {
    font-weight: 700;
    font-size: 22px;
  }
  
  .accordion__body {
    position: relative;
     /* width: 19rem;   */
    height: 0;
    min-height: 2.4rem;
    border-radius: .88rem;
    transition: all .5s ease;
    overflow: hidden
  }
  
  .accordion__inner {
    position: relative;
    padding: 3.13rem 1.19rem 1rem 2.5rem;
     /* width: 19rem;  */
    font-size: .88rem;
    line-height: 1.13rem
  }

  .news{
    width:400px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    border:1px solid green;
  }

